

<html>
    <head>
    <meta charset="utf-8">
    <title>БС:рейтинг</title>
    <link href="/public/style/style.css" rel="stylesheet">
    </head>
    
    
    <body>
    
    <!-- header -->
    <div id="header"> 
        <div id="headerButton">
            <a href="/login" 
                style="text-decoration:none; 
                        color:#42657a; 
                        font-size:1.5em; 
                        padding:33px;
                        padding-top:33px;
                        ">
                    Вход</a>
        </div>
    </div>
    <!--end of header-->