<% include layOut/header.ejs %>

<div id="logotip">
    <img src="/public/img/logo.png" />
    <h2>Система портфолио студентов на базе блок-чейн технологий</h2>
</div>

<% include layOut/footer.ejs %>
