ul {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 45%;
}

#logotip {
    position: relative;
    top: 150px;
    align-items: center;
    text-align: center;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: lightskyblue;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: lightskyblue;
    text-align: center;
}

#headerButton {
    position: fixed;
    display: block;
    width: 120px;
    height: 70px;
    right: 0px;
    z-index: 2;
    background-color: #d3ebfb;
    text-justify: center;
}

#headerButton > a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #42657a;
    font-size: 1.5em;
    padding: 33px;
    padding-top: 33px;
}

#headerButton > button {
    padding-top: 20px;
    padding-right: 40px;
}

.left_menu {
    position: absolute;
    left: 50px;
    top: 100px;
    width: 200px;
}

.left_menu a {
    background-color: #d3ebfb;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.left_menu a:hover {
    background-color: #ccc;
}

.left_menu a.active {
    background-color: #4caf50;
    color: white;
}

form {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 45%;
}

button {
    font-size: 1.2em;
    background-color: #d3ebfb;
    border: none;
    color: #42657a;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    font-size: 1.1em;
    color: #42657a;
    padding: 12px 12px 12px 0;
    display: inline-block;
}
