<div class="left_menu" >
	<a href="/accaunt">Общий ретинг</a>
    <a href="/change">Изменения рейтинга</a>
    <a href="/achiv">Достижения</a>
    <a href="/predmet">Оценки</a>
	<a href="/download">Загрузить сертификат</a>
</div>